html {
  width: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#container {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
#container:hover {
  opacity: 1;
}
.info {
  width: 300px;
  background-color: antiquewhite;
  color: #212121;
  font-size: 1.4em;
  padding: .4em 0
  /*padding-bottom: 0.6em;*/
}
p {
  text-shadow: 10px 10px Khaki;
  text-transform:uppercase;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0.6em 0.8em 0.6em 0.6em;
  text-align: right;
  background-color: transparent;
}
a {
  color: #212121;
  text-decoration: none;
}
a:hover {
  text-shadow: 0 0 #212121;
  text-decoration: underline;
}
a:active {
  color: inherit;
}
#profile {
  width: 300px;
  height: 300px;
  background-color: transparent;
  background-image: url('p2017.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#profile:hover {
  align-self:flex-end;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  #container {
    background-color: AntiqueWhite;
  }
  .info {
    font-size: 2em;
    width: 600px;
  }
  #profile {
    width: 600px;
    height: 600px;
  }
}
